/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
  overflow-y: hidden;
}.bg{
  position: absolute;
  background-attachment: fixed;
  background: #8dcfcb url("../immagini/bb.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animate 8s linear infinite;
  bottom:0%;
}.form-signin{
  width:25%;
  left:2%;
  top: 12%;
  position:absolute;
}.car{
  position: fixed;
  bottom:0%;
  right: 70%;
  width:200px;
  height: auto;
  max-width: 17%;
  min-width: 17%;
}.badge-warning{
  width:100%;
  font-size: 32px;
}.foto{
  position: fixed;
  top:12%;
  right: 8%;
  width: 30%;
  height: auto;
  border-radius: 8%;
  background-color: rgb(255, 253, 134);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}.scritta{
  display: none;
  position: fixed;
  top:9.4%;
  right: 38%;
  width: 30%;
  height: auto;
  text-align: left;
  font-size: 23px;
  font-weight: italic;
  color: #ff0000;
  border: 3px solid #FCD40A;
  padding: 15px;
  margin: 20px;
  font-family: helvetica;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: default;
  border-radius: 24px;
  text-shadow: 0px 0px 3px #262305;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:rgb(255,255,0,0.3);
}.container{
  text-align: center;
  padding: 10px 20px;
}.containerr{
  text-align: center;
  position: absolute;
  left:0.38576%;
}.scritta2{
  background-color:rgb(255,255,0,0.2);
  position: fixed;
  top:9%;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 23px;
  font-weight: italic;
  color: #ff0000;
  border: 3px solid #FCD40A;
  padding: 15px;
  margin: 20px;
  font-family: helvetica;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 20px;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: default;
  border-radius: 24px;
  text-shadow: 0px 0px 3px #262305;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.developers {
  background-color:rgb(255,255,0,0.2);
  position: fixed;
  top:23%;
  left: 0%;
  text-align: center;
  font-size: 60px;
  font-weight: italic;
  color: #ff0000;
  border: 3px solid #FCD40A;
  padding: 22px;
  margin: 20px;
  font-family: helvetica;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: default;
  border-radius: 24px;
  text-shadow: 0px 0px 3px #262305;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.fotoProfilo1{
  position: absolute;
  top:15%;
  right: 38%;
  width: 20%;
  height: auto;
  border-radius: 8%;
  border: 3px solid #FCD40A;
  background-color: rgb(255, 253, 134);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.fotoProfilo2{
  position: absolute;
  top:15%;
  right: 8%;
  width: 20%;
  height: auto;
  border-radius: 8%;
  border: 3px solid #FCD40A;
  background-color: rgb(255, 253, 134);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.scrittaProfilo1{
  position: absolute;
  top:58%;
  right: 38.2%;
  text-align: center;
  font-size: 27px;
  font-weight: italic;
  color: #ff0000;
  background-color:rgb(255,255,0,0.5);
  border: 3px solid #FCD40A;
  padding: 15px;
  margin: 20px;
  font-family: helvetica;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: default;
  border-radius: 24px;
  text-shadow: 0px 0px 3px #262305;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}.scrittaProfilo2{
  background-color:rgb(255,255,0,0.5);
  position: fixed;
  top:58%;
  right: 7.7%;
  text-align: center;
  font-size: 26px;
  font-weight: italic;
  color: #ff0000;
  border: 3px solid #FCD40A;
  padding: 15px;
  margin: 20px;
  font-family: helvetica;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: default;
  border-radius: 24px;
  text-shadow: 0px 0px 3px #262305;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes animate{
  from{
    background-position: 0 0;
  }
  to {
    background-position: 49.5% 0;
  }
}
@keyframes sali{
  from{
    bottom:0%;
  }
  to{
    bottom:5%;
  }
}
@keyframes scendi{
  from{
    bottom:5%;
  }
  to{
    bottom:0%;
  }
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
code {
  font-size: 80%;
}
