/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0;
  overflow-y: hidden;
}.bg{


  position: absolute;
  background-attachment: fixed;
  background: #8dcfcb url("../immagini/bb.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animate 8s linear infinite;
  bottom:0%;
}.form-signin{
  width:25%;
  left:2%;
  top: 12%;
  position:absolute;
}.car{




  position: fixed;
  bottom:0;
  right: 70%;
  
  width:200px;
  height: auto;
  max-width: 17%;
  min-width: 17%;
  
}.badge-warning{
  width:100%;
 
  font-size: 32px;
  
  
}.foto{

  position: fixed;
  top:15%;
  right: 8%;
  width: 30%;
  height: auto;
  border-radius: 8%;
  background-color: rgb(255, 253, 134);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}.container{
  text-align: center;
  padding: 10px 20px;
}


@keyframes animate
{
  from{
    background-position: 0 0;
  }
  to {
    background-position: 49.5% 0;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


code {
  font-size: 80%;
}
